.login-container{
    background-image: url("./images/login-baner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container .form-container {
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
}